.App {
  text-align: center;
}

.heading, .form {
  display: flex;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.form {
  background-color: #0f3d4a;
}

.name {
  width: 250px;
  text-align: left;
}

.name input {
  width: 235px;
}

.age {
  width: 100px;
  text-align: center;
}

.age input {
  width: 60px;
  text-align: left;
}

.country {
  width: 250px;
  text-align: left;
}

.country input {
  width: 230px;
}

.action {
  width: 100px;
  text-align: center;
}

input {
  padding: 6px;
  padding-left: 10px;
  outline: none;
  border: 0px;
  font-size: 16px;
  border-radius: 5px;
}

.addBtn {
  color: #0f3d4a;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  outline: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 70px;
}