.character {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(243, 243, 243);
}

img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.right {
  padding-left: 50px;
}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cast {
  font-size: 23px;
  font-weight: bold;
  color: grey;
  margin-bottom: 30px;
}

.intro {
  font-size: 18px;
  width: 600px;
}
