body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f2f2f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background-color: yellow;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 3px #000;
  margin-top: 50px;
}

button:active {
  box-shadow: none;
}