.cartContainer {
  padding: 30px 0px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.noItem {
  font-size: 20px;
}

.cart {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}

.cartWrapper {
  display: flex;
}

.cartDetails {
  width: 900px;
  padding-right: 30px;
  border-right: 1px solid #f1f1f1;
}

.cartLeft {
  width: 100px;
  height: 100px;
}

.cartLeft img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
}

.cartMiddle {
  width: 500px;
  padding: 20px;
}

.name {
  font-size: 16px;
}

.weight {
  font-size: 14px;
  margin-top: 8px;
  color: grey;
}

.price {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.current {
  font-size: 16px;
  font-weight: bold;
}

.was {
  font-size: 16px;
  color: grey;
  margin-left: 10px;
  text-decoration: line-through;
}

.discount {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
  color: #26a541;
}

.cartRight {
  width: 230px;
  padding-top: 45px;
}

.btnContainer {
  margin-top: 30px;
  text-align: right;
}

.orderBtn {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background-color: #fb641b;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.cartSummary {
  width: 300px;
  padding-left: 30px;
}

.subHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2a2a2a;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 20px 0px;
  color: #212121;
}

.disc {
  color: #26a541;
}

.total {
    font-weight: bold;
    border-top: 1px solid #f1f1f1;
    padding-top: 20px;
}
