.finalContainer {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  width: 800px;
  padding: 30px;
  border-radius: 5px;
  background-color: #dff1d9;
  color: #4d8e52;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
