.App {
  text-align: center;
}

h1 {
  margin-bottom: 70px;
}

input {
  padding: 7px 12px;
  font-size: 18px;
  border: 3px solid #212121;
  outline: none;
  border-radius: 4px;
}

input:focus {
  border: 3px solid #cb029c;
}

.form-control {
  margin-top: 20px;
}

.btn-container {
  margin-top: 50px;
}

button {
  width: 100px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #cb029c;
  border: 3px solid #212121;
  color: #fff;
}

button.active {
  border: 3px solid #67f814;
}
